body *{
  box-sizing: border-box;
  box-sizing: inherit;
  font-family: 'Gibson','Noto Sans JP', sans-serif;
}

.topImg {
  background-image: url(../zinzaipic/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}

#pcNav {
  display: flex;
  list-style: none;
  padding: 45px 45px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

#pcNav li {
  margin-left: 35px;
  font-size: 14px;
}

#pcNav li:not(:last-child) {
  position: relative;
}

#pcNav li:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1px;
  background:  #006be0;
  transition: all 0.3s;
}

#pcNav li:not(:last-child):hover::after {
 width: 100%;
}


header a {
  text-decoration: none;
  color: #333333;
}

.blueBtn {
  color: #ffffff;
  background-color: #006be0;
  padding: 14px 25px;
  border-radius: 50px;
}

.blueBtn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.mainBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 58%;
}

.leftBtn {
  color: #006be0;
  background-color: #ffffff;
  border: solid 2px #006be0;
  padding: 14px 25px;
  margin: 0 5px;
  border-radius: 50px;
}

.leftBtn:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.rightBtn {
  color: #ffffff;
  background-color: #006be0;
  padding: 14px 43px;
  margin: 0 5px;
  border-radius: 50px;
}

.rightBtn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;

}

.mainText {
  position: absolute;
  top: 19%;
  left: 14%;
}

h1 {
    font-size: 70px;
    color: #ffffff;
    letter-spacing: 8px;
    padding-bottom: 7px;
  }

  .mainText p {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  #drawerToggle {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 1;
      display: none;
    }

    #drawerToggle span {
      width: 27px;
      height: 3px;
      display: block;
      background-color: #333333;
      margin-bottom: 7px;
      border-radius: 5px;
  }

  #globalNav {
    display: none;
    background-color: #ffffff;
    box-shadow: 13px 14px 19px -20px #333333;
    padding: 43px 0;
    width: 100%;
    position: fixed;
    top: 0px;
  }

  #globalNav li {
    list-style: none;
    margin: 0 40px;
    padding: 23px 0;
    text-align: center;
  }

  #globalNav li:not(:last-child) {
    border-bottom: dashed 1px #9d9696;
  }


  .container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 10px;
    color: #333333;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    padding: 40px 0 5px;
  }

  h3 {
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .message p {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 40px;
  }

  .strongPoint {
    background-color: #f2f5f7;
    padding-bottom: 40px;
  }

  .pointList {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 40px;
  }

  .point {
    background-color: #ffffff;
    text-align: center;
    padding: 5px 23px 20px;
    margin: 0 3px;
    box-shadow: 13px 14px 19px -20px #333333;
  }

  .point img {
    width: 45px;
    padding: 19px 0;
  }

  .point p {
    font-size: 14px;
    width: 186px;
  }

  .moreBtn {
    text-align: center;
  }

  .moreBtn a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    background-color: #727272;
    padding: 8px 25px;
    border-radius: 50px;
  }

  .moreBtn a:hover {
    background-color: #006be0;
    transition: all 0.3s ease;
  }

  .textTitle {
    display: flex;
    align-items: center;
  }

  h4 {
    color: #ffffff;
    background-color: #006be0;
    padding: 6px 17px;
    border-radius: 50px;
    letter-spacing: 2px;
  }

  h5 {
    padding-left: 20px;
  }

  .step {
    display: flex;
    padding-top: 20px;
  }

  .stepImg {
    width: 50%;
  }

  .stepImg img {
    width: 100%;
  }

  .text {
    width: 50%;
    padding-left: 30px;
  }

  .text p {
    line-height: 25px;
    font-size: 13px;
    padding: 25px 0px;
  }

  .entryBtn {
    text-align: center;
    padding: 40px 0;
  }

  .entryBtn a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    background-color: #727272;
    padding: 8px 25px;
    border-radius: 50px;
  }

  .entryBtn a:hover {
    background-color: #006be0;
    transition: all 0.3s ease;
  }

  .clients {
    background-color: #f2f5f7;
   padding-bottom: 40px;
  }

  .forList {
    display: flex;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .forList img {
    width: 50%;
  }

  .forList ul {
    width: 50%;
    list-style: none;
  }

  .forList a {
    text-decoration: none;
    color:  #006be0;
    font-size: 17px;
    font-weight: bold;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 23px;
    margin: 15px 15px 15px 0;
    display: block;
    border: solid 1px #ffffff;
    box-shadow: 4px 15px 13px -18px #333333;
  }

  .forList a:hover {
    border: solid 1px #006be0;
        transition: .2s;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 60px;
  }

  dl a {
    text-decoration: none;
    color: #333333;
  }

  dt {
    width: 20%;
    border-bottom: solid 1px #c9cdd0;
    padding: 20px 0;
    text-align: center;
  }

  dd {
    width: 80%;
    border-bottom: solid 1px #c9cdd0;
    padding: 20px 0;
  }

  footer {
    background-color: #13202B;
    height: 300px;
  }

.footNav {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  max-width: 750px;
  margin: 0 auto;
  padding: 70px 10px;
  align-items: center;
}

.footNav p {
  font-size: 35px;
}

.footNav ul {
  display: flex;
  list-style: none;
}

.footNav li {
  padding-left: 25px;
}

.footNav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  padding-top: 90px;
}

@media screen and (max-width:1025px) {

  .topImg {
    height: 280px;
    background-size: cover;
  }

  #pcNav {
    display: none;
  }

  .mainText {
    top: 7%;
  }

  .mainText p {
    font-size: 11px;
  }

  .mainBtn {
    top: 220px;
    font-size: 13px;
  }

  #drawerToggle {
    display: block;
  }

  #drawerToggle.open span {
   top: 9px;
   right: 1px;
   position: absolute;
  }

  #drawerToggle.open span:first-child {
    transform: rotate(45deg);
  }

  #drawerToggle.open span:nth-child(2) {
    display: none;
  }

  #drawerToggle.open span:last-child {
    transform: rotate(-45deg);
  }




}

@media screen and (max-width:540px) {

  #globalNav {
   font-size: 13px;
  }

  .leftBtn {
    padding: 14px 3px;
  }

  .rightBtn {
    padding: 14px 21px;
  }

  .mainText p {
    font-size: 10px;
  }

  .topImg {
    background-image: url(../zinzaipic/topSp.jpg);
    height: 100vh;
    background-position: center;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 11px;
  }

  .message p {
    font-size: 12px;
  }

  .pointList {
    flex-direction: column;
  }

  .point {
    margin-bottom: 10px;
  }

  .point p {
    margin: 0 auto;
  }

  .step {
    flex-direction: column;
  }

  .stepImg {
    width: 100%;
  }

  .textTitle {
    font-size: 15px;
  }

  .text {
    width: 100%;
    padding-left: 0;
  }

  .text p {
    font-size: 12px;
  }

  .entryBtn {
    padding: 10px 0 40px;
  }

  .forList {
    flex-direction: column;
  }

  .forList ul {
    width: 100%;
    order: 2;
  }

  .forList img {
    width: 100%;
    order: 1;
  }

  .forList a {
    font-size: 15px;
    margin: 15px 0;
  }

  dl {
    font-size: 12px;
  }

  .footNav {
    flex-direction: column;
    align-items: baseline;
    padding: 30px 10px;
  }

  .footNav ul {
    flex-direction: column;
  }

  .footNav li {
    padding: 5px 0;
  }

  .footNav a {
    font-size: 12px;
  }

  .copyright {
    font-size: 11px;
    padding: 25px 0 0;
  }


}
